
<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../media/style.css">
    <title>
         MSD -
        {% block title_block %}
          The Medical Study Database
        {% endblock %}
    </title>
</head>


<head>
    <link rel="stylesheet" type="text/css" href="../../media/style.css">
</head>


{% block body_block %}

{% if registered %}
<script>console.log('{{registered}}')</script>

    <p>registered</p>
<a href = "{% url 'student:home' %}">home</a>
{% else %}


<div style="border:1px; width:600px; margin:auto;">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Student Sign Up</h4>
    </div>
    <div class="card-body">
      <div class="col-md-8 order-md-1">
    <form id="user_form" method="post" action="{% url 'student:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
        <button class="btn btn-primary btn-lg btn-block"  value="submit" type="submit">Register</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
</html>
