<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
<div class="container col-md-8">
            <div class="border">

        <div class="mainImg" > <img src= "{{MEDIA_URL}}future.jpg" alt=""></div>
          <div>
            <h3  class="outline1"> Medical Study Database</h3>
              <p class="outline2">We provide a link between the people who want to earn money participating in medical experiments and the scientists carrying out experiments in their area.</p>
          </div>



    <div class="row justify-content-center">



      <div class="col-5 text-center">
        <img src= "{{MEDIA_URL}}expr.png" width="130" height="130" alt="expr photo">
        <h5>Find Someone, Go Further</h5>
          <h6>Experimenter</h6>

          <div class="text-left">
        <p>Advertise your own experiments, with screening and notification features.</p>
        <a class="btn btn-primary" style="width:48%;"href="{% url 'experimenter:register' %}" role="button">Join us</a>
        <a class="btn btn-success" style="width:48%;" href="{% url 'experimenter:login' %}" role="button">Login</a>
                  </div>
                  </div>



        <div class="col-5 text-center">
            <img  src= "{{MEDIA_URL}}student.jpg" width="130" height="130" style="padding-top: 10px" alt="student photo">
        <h5>Help Science, Make Money</h5>
            <h6>Student</h6>
        <div class="text-left">
            <p>Bid for medical experiments with search and filter features, to make money.</p>
        <a class="btn btn-primary" style="width:48%;"  href="{% url 'student:register' %}" role="button">Join us</a>
        <a class="btn btn-success" style="width:48%;" href="{% url 'student:login' %}" role="button" >Login  </a>
        </div>
        </div>

    </div>


    <hr class="featurette-divider">

          </div>
  </div>
</div>

{% endblock %}
