<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">
{% block body_block %}
<script>
	$(document).ready(function() {
         $.get('/experimenter/getall/', function(exprs){
         	for(i in exprs){
         		$('#append').append(
         				'<div class="col-md-8 order-md-1">' +
						'<div class="container">' +
						'<div class="card-deck mb-3 text-center">' +
						'<div class="card mb-4 shadow-sm">' +
						'<div class="card-header">' +
						'<h4 class="my-0 font-weight-normal">' + exprs[i].fields.name + '</h4> ' +
						'</div> <div class="card-body"> ' +
						'<ul class="list-unstyled mt-3 mb-4"> ' +
						'<li>' + exprs[i].fields.start_date + '</li>' +
						'<li>' + exprs[i].fields.price + '</li>' +
						'<li>Expand...</li> ' +
						'<li>'+ exprs[i].fields.end_date+ '</li>' +
						'<li>Bid</li>' +
						'</ul> ' +
						'<button type="button" class="btn btn-lg btn-block btn-primary">See Details</button>' +
						'</div>' +
						'</div>' +
						'</div>')
			 }
		 })
     })
	</script>
<div class="row">
	<div class="col-md-4 order-md-2 mb-4">
		<div class="card-deck mb-3 text-center">
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4">
					<button type="button" class="btn btn-lg btn-block btn-primary" style = "width:250px;height:50px;">Student Log In</button>
					<button type="button" class="btn btn-lg btn-block btn-primary" style = "width:250px;height:50px">Experimenter Log In</button>
				</ul>
			</div>
		</div>
		<div class="card-deck mb-3 text-center">
				<div class="card-body">
					<ul class="list-unstyled mt-3 mb-4">
						<li>txt</li>
						<li>txt</li>
						<li>txt</li>
						<li>txt</li>
					</ul>
				</div>
		</div>
		<div id="append"></div>
	</div>

		</div>
		</div>
	</div>
</div>



<div class="card-deck mb-3 text-center">


  </div>

{% endblock %}
</html>


