<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<center><b>About The Medical Study Database</b></center>
<br><br>
The Medical Study Database was founded in 2020 by Drew X, Ryan X, and Emmet Young.
From the beginning, the team wanted to help students find work that they could fit
around their studies. They had all been students themselves, and so they appreciated
how difficult it can be to find paid work that matches a student's ever-changing
schedule.
<br><br>
After some brainstorming, the team looked at jobs in the Medical Study community
and found that not only were the hours flexible, the pay was good too. So, the team
made a few phonecalls to test the water, and quickly found a host of medical and
psychology-based experimenters interested in contributing. Two months of work
later, and the app was ready to launch. The rest, as they say, is medical history.
</body>
</html>
