 <!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">








{% block body_block %}
<script>
	$(document).ready(function() {
	    var x = '{{student}}';
	    var accepted = '{{accepted}}';
	    var waiting = '{{waiting}}';
	    console.log(x)
	    var username = "{{user.username}}";
        var u_id = "{{user.id}}";
         $.get('/experimenter/getall/', function(exprs){
                      	    console.log(exprs)
            console.log(exprs[0].fields.expr_full)
         	for(i in exprs) {
                if (exprs[i].fields.expr_done === false && exprs[i].fields.expr_full === false ) {
                    $('#append').append(
                        '<div class="col-sm-4 order-md-1">' +
                        '<div class="card mb-4 shadow-sm">' +
                        '<div class="card-header">' +
                        '<h4 class="my-0 font-weight-normal">' + exprs[i].fields.name + '</h4> ' +
                        '</div>' +
                        '<div id = "' + i + '" class="card-body"> ' +
                        '<ul class="list-unstyled mt-3 mb-4"> ' +
                        '<li>' + exprs[i].fields.start_date + '</li>' +
                        '<li>' + exprs[i].fields.price + '</li>' +
                        '<li>' + exprs[i].fields.end_date + '</li>' +
                        '<span id = "' + exprs[i].fields.name + '" class="collapse">' +
                        '<li>' + exprs[i].fields.details + '</li>' +
                        '<li>' + exprs[i].fields.num_req + '</li>' +
                        '<li>' + exprs[i].fields.num_current + '</li>' +
                        '</span>' +
                        '</ul> ' +
                        '</div>' +
                        '</div>' +
                        '</div>'
                    )
                    if (x === 'true') {
                        if (accepted.includes(exprs[i].pk)) {
                            $('#' + i).append(
                                '<div class="btn-group btn-group-sm" role="group">' +
                                '<button type="button" class="btn-primary" data-toggle="collapse" data-target="#' + exprs[i].fields.name + '">See Details</button>' +
                                '<button type="button" class="btn-dark" value="' + exprs[i].fields.name + '" disabled>Already accepted</button>' +
                                '</div>')
                        } else if (waiting.includes(exprs[i].pk)) {
                            $('#' + i).append(
                                '<div class="btn-group btn-group-sm" role="group">' +
                                '<button type="button" class="btn-primary" data-toggle="collapse" data-target="#' + exprs[i].fields.name + '">See Details</button>' +
                                '<button type="button" class="btn-warning" value="' + exprs[i].fields.name + '" disabled>Awaiting response</button>' +
                                '</div>')
                        } else {
                            $('#' + i).append(
                                '<div class="btn-group btn-group-sm" role="group">' +
                                '<button type="button" class="btn-primary" data-toggle="collapse" data-target="#' + exprs[i].fields.name + '">See Details</button>' +
                                '<button id="' + i + '" type="button" class="btn-success" value="' + exprs[i].fields.name + '" >Bid</button>' +
                                '</div>'
                            )
                        }
                    } else {
                        $('#' + i).append(
                            '<button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="collapse" data-target="#' + exprs[i].fields.name + '">See Details</button>'
                        )
                    }
                }
            }
		 })


        $(document).on('click', '.btn-success', function() {
            var name = $(this).attr('value')
            $.get('/student/makebid/',
                {'expr_name': name, 'username':username, 'u_id':u_id}, function(){
                location.reload()
                }

             )
        })
     });

	</script>

<div class="container">
{% if user.is_authenticated %}
    {% if student %}
    <h3><a href = "{% url 'student:home' %}">Back</a></h3>
    {% else %}
    <h3><a href = "{% url 'experimenter:home' %}">Back</a></h3>
    {% endif %}
    {% endif %}

		<div id = append></div>

</div>






{% endblock %}
