 <!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">


{% block body_block %}
<script>
	$(document).ready(function() {

	    var username = "{{user.username}}";
        var u_id = "{{user.id}}";
         $.get('/experimenter/getall/', function(data){
             load(data)
         });

        $(document).on('click', '.btn-success', function() {
            var name = $(this).attr('value');
            $.get('/student/makebid/',
                {'expr_name': name, 'username':username, 'u_id':u_id}, function(){
                location.reload()
                }

             )
        })
     });


	function load(exprs){
        var x = '{{student}}';
	    var accepted = '{{accepted}}';
	    var waiting = '{{waiting}}';
	    var declined = '{{declined}}';
	    console.log(declined);
	    console.log(accepted)
	    var age = '{{demsurv.age}}';
        var lang = '{{demsurv.language}}';
        var ed = '{{demsurv.education}}';
	            var counter = 0;
         	for(i in exprs) {
                if (exprs[i].fields.expr_done === false && exprs[i].fields.expr_full === false ) {
                    $('#append').append(
                        '<div class="col-sm-4 order-md-1">' +
                        '<div class="card mb-4 shadow-sm">' +
                        '<div class="card-header">' +
                        '<h4 class="my-0 font-weight-normal">' + exprs[i].fields.name + '</h4> ' +
                        '</div>' +
                        '<div id = "' + i + '" class="card-body"> ' +
                        '<ul class="list-unstyled mt-3 mb-4"> ' +
                        '<li>' + exprs[i].fields.start_date + '</li>' +
                        '<li>' + exprs[i].fields.price + '</li>' +
                        '<li>' + exprs[i].fields.end_date + '</li>' +
                        '<span id = "span' + counter + '" class="collapse">' +
                        '<li>' + exprs[i].fields.details + '</li>' +
                        '<li>' + exprs[i].fields.num_req + '</li>' +
                        '<li>' + exprs[i].fields.num_current + '</li>' +
                        '<h5>Requirements:</h5>' +
                        '<li>' + exprs[i].fields.age_req + '</li>' +
                        '<li>' + exprs[i].fields.lang_req + '</li>' +
                        '<li>' + exprs[i].fields.ed_req + '</li>' +
                        '</span>' +
                        '</ul> ' +
                        '<button type="button" class="btn-primary" data-toggle="collapse" data-target="#span' + counter + '">See Details</button>' +
                        '</div>' +
                        '</div>' +
                        '</div>'
                    );
                    if (x === 'true') {
                        var one = det(exprs[i].fields.ed_req);
                        var two = det(ed)
                        if(age < exprs[i].fields.age_req || lang !== exprs[i].fields.lang_req || one > two ){
                            $('#' + i).append(
                                '<div class="btn-group btn-group-sm" role="group">' +
                                '<button type="button" class="btn-danger" value="' + exprs[i].fields.name + '" disabled>Do not meet req</button>' +
                                '</div>')
                        } else if (accepted.includes(exprs[i].pk)) {
                            $('#' + i).append(
                                '<div class="btn-group btn-group-sm" role="group">' +
                                '<button type="button" class="btn-dark" value="' + exprs[i].fields.name + '" disabled>Already accepted</button>' +
                                '</div>')
                        } else if (declined.includes(exprs[i].pk)) {
                            $('#' + i).append(
                                '<div class="btn-group btn-group-sm" role="group">' +
                                '<button type="button" class="btn-danger" value="' + exprs[i].fields.name + '" disabled>Declined</button>' +
                                '</div>')
                        } else if (waiting.includes(exprs[i].pk)) {
                            $('#' + i).append(
                                '<div class="btn-group btn-group-sm" role="group">' +
                                '<button type="button" class="btn-warning" value="' + exprs[i].fields.name + '" disabled>Awaiting response</button>' +
                                '</div>')
                        } else {
                            $('#' + i).append(
                                '<div class="btn-group btn-group-sm" role="group">' +
                                '<button id="' + i + '" type="button" class="btn-success" value="' + exprs[i].fields.name + '" >Bid</button>' +
                                '</div>'
                            )
                        }
                    }



                }
                counter ++
            }
		 }

function det(ver){
	    var x = 0;
    switch(ver){
        case 'Postgraduate':
            x = 4;
            break;
        case 'Undergraduate':
            x = 3;
            break;
        case 'College':
            x = 2;
            break;
        case 'School':
            x = 1;
            break;
        case 'None':
            x = 0;
            break;
        default:
            break;
    }
    return x
    }

 function search() {
        var expr = []
        var filter = document.getElementById('value').value;
        var value = document.getElementById('searchvar').value;
        $.get('/experimenter/getall/', function (data) {
            for (i in data) {
                if (data[i].fields[filter] == value) {
                    expr.push(data[i])
                }
            }
            if(expr.length > 0){
                $( "#append" ).empty();
                load(expr)
            }else{
                console.log('add result thing here')
            }

        });
    }


</script>


<div class="container">
    <form onkeydown="return event.key != 'Enter';" class="form-inline mt-2 mt-md-0" style = "float: right; margin-right: 5%">
        <select id="value">
        <option value="name">Name</option>
        <option value="age_req">Age</option>
        <option value="lang_req">Language</option>
        <option value="ed_req">Education</option>
        </select>
        <input id="searchvar" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="search()">Search</button>
    </form>

<br><br><br>
{% if user.is_authenticated %}
    {% if student %}
    <h3><a href = "{% url 'student:home' %}">Back</a></h3>

    {% else %}
    <h3><a href = "{% url 'experimenter:home' %}">Back</a></h3>
    {% endif %}
    {% endif %}

		<div id = append></div>

</div>






{% endblock %}
