<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../media/style.css">
    <title>Title</title>
</head>

{% if registered %}
    <p>Thank you for creating.</p>
<a href = "{% url 'experimenter:index' %}">Home</a>
{% else %}
{% block body_block %}
<div style="border:1px; width:600px; margin:auto;">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Create Experiment</h4>
    </div>
    <div class="card-body">
      <div class="col-md-8 order-md-1">
      <form id="create_expr" method="post" action="{% url 'experimenter:createexpr' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ cexpr_form|crispy }}
        <button class="btn btn-primary btn-lg btn-block" value="submit" type="submit">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% endif %}
</body>
</html>
