<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
{% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>



</head>
{% block body_block %}
<body>
expr home
 <br />
<a href = "{% url 'experimenter:logout' %}">Logout</a>
<a href = "{% url 'experimenter:createexpr' %}">Create</a>

{% if expr %}
    {% for e in expr %}

        <br />
        <div class="{{e.name}}">
        <h2>{{ e.name }}</h2>
        <p>amount needed:{{ e.num_req }}</p>
        <h4>Students who have bid:</h4>
        {% if dict %}
        {% for key, value in dict.items %}
            {% if key == e.name %}
            {% for name in value %}
                <li id="{{forloop.counter}}">{{name}} || <span class="blue" value="{{name}}">screen user</span>
                <button class="accept" value="{{name}}">accept</button>
                    <button  class="decline" value="{{name}}">decline</button>
                </li>
            {% endfor %}
            {% endif %}
        {% endfor %}
        {% endif %}
            </ul>
    {% endfor %}

{% else %}
    <p>no exper</p>
{% endif %}
    <br />


<p id="d"></p>
</div>


</body>





<script>
 $(document).ready(function() {
     $('.blue').css('color', 'blue');
     $("span").click(function(){
         $('#d').empty()
         var name = $(this).attr('value')
         $.get('/student/displaydetails/',
             {'name': name},
             function(data){
                var obj = JSON.parse(data)
                console.log(obj[0].fields)
                $('#d').prepend('User: ', name, ' Sex: ', obj[0].fields.sex, ' Age: ', obj[0].fields.age,
                ' Language: ', obj[0].fields.language, ' Country: ', obj[0].fields.country, ' Education: ',obj[0].fields.education)

             }
         )
     });
 })

 $(document).ready(function() {
     $(".accept").click(function () {
         var name = $(this).attr('value')
         var expr = $(this).closest('div').prop('className');
         $.get('/experimenter/accept/',
             {'expr':expr,'student': name},
             function(){
                location.reload()
             }
             )
     })
 })

 $(document).ready(function() {
     $(".decline").click(function () {
         var name = $(this).attr('value')
         var expr = $(this).closest('div').prop('className');
         $.get('/experimenter/decline/',
             {'expr':expr,'student': name},
             function(){
                location.reload()
             }
             )
     })
 })

</script>
{% endblock %}
</html>
