<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
{% load staticfiles %}
    <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="../../media/style.css">
    <title>Title</title>

</head>
{% block body_block %}
<body>

<div class="container">
<br/>
    <div class="col">
    <div class="col-md-3 order-md-1" style="min-height:100%; height:100%;">
<div style="border:1px; width:200px; margin:auto;">
    <br/>
<h4>{{ user.username }}'s home page</h4>
    <br/>
<a href = "{% url 'experimenter:createexpr' %}" class="btn btn-lg btn-outline-success btn-block" style="width: 150px; height: 45px">Create</a>
</div>
      </div>
    </div>
    <div class="col-md-8">
<h5>Your current experiments:</h5>

    <div id="accordion">
{% if expr %}
    {% for e in expr %}
        {% if e.expr_done == False %}
        <div class="card">
            <div class="card-header" id="headingOne">
            <button class="btn btn-link float-left" data-toggle="collapse" data-target="#{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                {{ e.name }}</button>
              {% if e.expr_full %}
                  <span class="badge" >Experiment Full</span>

                {% endif %}
                <button id="close" class="btn btn-outline-secondary float-right" value="{{e.name}}">Close Experiment</button>
                {% if dict %}
                {% for key, value in dict.items %}
                    {% if key == e.name and value|length > 0%}
                        <span class="badge" style="background-color:#ea0000;" >{{ value|length }}</span>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>

        <div id="{{ forloop.counter }}"  class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <p>Amount of students needed: {{ e.num_req }}</p>
            <p>Amount of students currently: {{ e.num_current }}</p>

        <p>Students who have bid:</p>
        {% if dict %}
        {% for key, value in dict.items %}
            {% if key == e.name %}
            {% for name in value %}
                <div class="col">
                {{ forloop.counter }}
                <div id="{{e.name}}" class="btn-group">
                <button id="screen" class="btn btn-outline-info" value="{{name}}" type="button" data-toggle="modal" data-target="#exampleModal">Screen User</button>
                <button id="accept" class="btn btn-outline-success" value="{{name}}" type="button">Accept</button>
                    <button id="decline" class="btn btn-outline-danger" value="{{name}}" type="button">Decline</button>
                </div>
                </div>
            {% endfor %}
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% for e in expr %}
        {% if e.expr_done == True %}
            <h5>Your previous experiments:</h5>
            {{ e.name }}
            {% endif %}
    {% endfor %}
{% else %}
    <h5>No Experiments created</h5>



{% endif %}
    <br />


</div>
</div>

</body>

    <script>
    $(document).ready(function() {
     $(".btn-outline-secondary").click(function () {
         console.log('test')
         var name = $(this).attr('value');
         $.get('/experimenter/close/',
             {'expr':name},
             function(){
                location.reload()
             }
             )
     })
 })
    </script>

<script>
 $(document).ready(function() {
     $(".btn-outline-info").click(function(){
         $('.modal-body').html('')
         var name = $(this).attr('value');
         console.log(name);
         $.get('/student/displaydetails/',
             {'name': name},
             function(data){
                var obj = JSON.parse(data)
                $('.modal-body').append(
                    '<h5>User: ' + name + '</h5>' +
                    '<p>Sex:  ' + obj[0].fields.sex + '</p>' +
                    '<p>Age:  ' + obj[0].fields.age + '</p>' +
                '<p>Language:  ' + obj[0].fields.language + '</p>' +
                    '<p>Country:  ' + obj[0].fields.country + '</p>' +
                    '<p>Education:  ' + obj[0].fields.education + '</p>'
                )

             }
         )
     });
 })

 $(document).ready(function() {
     $(".btn-outline-success").click(function () {
         var name = $(this).attr('value');
         var expr = $(this).closest('div').prop('id');
         $(this).parents(":eq(1)").remove();
         $.get('/experimenter/accept/',
             {'expr':expr,'student': name},
             function(){

             }
             )
     })
 });

 $(document).ready(function() {
     $(".btn-outline-danger").click(function () {
         var name = $(this).attr('value')
         var expr = $(this).closest('div').prop('id');
         $(this).parents(":eq(1)").remove();

         $.get('/experimenter/decline/',
             {'expr':expr,'student': name},
             function(){

             }
             )
     })
 });



</script>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">User Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</html>


<div class="col-sm-4 order-md-1">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Boredom Test</h4>
        </div>
        <div id="0" class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>2020-03-29</li>
                <li>10</li>
                <li>2020-03-06</li>
                <span id="span0" class="collapse">
                    <li>This experiment will test the human ability to endure extreme boredom.Participants will have to watch Kevin Costner's 1997 film The Postman 16times in 2 days.</li>
                    <li>8</li>
                    <li>0</li>
                    <h5>Requirements:</h5>
                    <li>18</li>
                    <li>English</li>
                    <li>College</li>
                </span>
            </ul>
            <button type="button" class="btn-primary" data-toggle="collapse" data-target="#span0">See Details</button>
        </div>
    </div>
</div>
