<!DOCTYPE html>
{% load staticfiles %}
{% load template_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../media/style.css">
    <title>
             MSD -
        {% block title_block %}
          The Medical Study Database
        {% endblock %}</title>
</head>
<body>
{% if registered %}
    <p>Thank you for registering with us.</p>
<a href = "{% url 'experimenter:index' %}">Home</a>

{% else %}
<form id="user_form" method="post" action="{% url 'experimenter:register' %}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ expr_form.as_p }}
    {{ exprp_form.as_p }}
    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}


{% block body_block %}

<div style="border:1px; width:600px; margin:auto;">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Experimenter Sign Up</h4>
    </div>
    <div class="card-body">
      <div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate="">

          <div class="mb-3">
            <label for="firstName">Username</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="lastName">Password</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
          </div>
          <div class="mb-3">
            <label for="lastName">Re-enter Password</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
          </div>


        <div class="mb-3">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address
          </div>
        </div>

                <div class="mb-3">
          <label for="email">Personal Email </label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address
          </div>
        </div>


        <div class="mb-3">
          <br>
        <h5> Payment Details </h5>
        <div class="mb-3">
        <label for="zip">Account Number</label>
        <input type="text" class="form-control" id="zip" placeholder="" required="">
        </div>
        <div class="mb-3">
        <label for="zip">Sort Code</label>
        <input type="text" class="form-control" id="zip" placeholder="" required="">
        </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


</body>
</html>
