<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../media/style.css">
    <title>
             MSD -
        {% block title_block %}
          The Medical Study Database
        {% endblock %}</title>
</head>
<body>
{% if registered %}
    <p>Thank you for registering with us.</p>
<a href = "{% url 'experimenter:index' %}">Home</a>

{% else %}
{% block body_block %}
<div style="border:1px; width:600px; margin:auto;">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Experimenter Sign Up</h4>
    </div>
    <div class="card-body">
      <div class="col-md-8 order-md-1">
      <form id="user_form" method="post" action="{% url 'experimenter:register' %}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ expr_form.as_p }}
    {{ exprp_form.as_p }}
        <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
      </form>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% endif %}


</body>
</html>
